<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2"></script>
    <title>Johmaのホームページ</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="title"><a hx-get="/" hx-push-url="true" hx-target="body">Johmaのホームページ</a></li>
                <li><a hx-get="/about.html" hx-push-url="true" hx-target="body">About</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 id="typing" hx-ext="sse" sse-connect="/api/typing1" sse-swap="message"></h2>

        </div>
    </main>

    <footer>
        <p>&copy; 2025 Johma. All rights reserved.</p>
    </footer>    
</html>